<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <br><br>
        <div class=row>
            <h3 class="col-10 display-4 text-left">Mis actividades</h3>
            <img class="col text-right" src="./imgs/logo.png" alt="logo" width="100" height="100" >
        </div>
        <br><br><br>
        <div class=row>
            <div class=col-10>
                <div class=button-group role=group>
                    <button style=margin:15px; class="btn btn-primary"  type="button" data-toggle="modal" data-target="#modalAgregarAct">Nueva actividad</button>
                </div>
            </div>
            <div class=col-2>
                <form action="./login.php" method="get">
                    <button class="btn btn-secondary" type=submit>Salir</button>    
                </form>   
            </div>
        </div>

        <br><br>
        <div class="row" style=margin:12px;>
            <div class="col-6 text-center">
                <h3 style=color:blue;>ACTIVIDADES PENDIENTES</h3>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Actividad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tablePend">
                        
                    </tbody>
                </table>
                
            </div>
            <div class="col-6 text-center">
                <h3 style=color:green;>ACTIVIDADES FINALIZADAS</h3>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Actividad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableTerm">
                        
                    </tbody>
                </table>
            </div>
        </div>



<!-----LOS MODALES--->
<!---Agregar-->
<div class="modal fade" id="modalAgregarAct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Registrar una nueva actividad</h4>
				<button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>
			<div class="modal-body">
                <form action="" method="POST">
				    <div class=row>
                        <div class=col>
                            <div class="form-group">
                                <label for="nombre">Nombre de la actividad:</label>
                                <input type="text" class="mr-sm-2 " placeholder="nombre" id="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripción de la actividad:</label>
                                <textarea type="text" class="mr-sm-2 " placeholder="" id="descripcion" required></textarea>
                            </div>
                            <div class="btn-group float-right" role="group">
                                <button style="margin-left:10px; margin-right:15px;" class="btn btn-primary border rounded border-dark" type="submit" id="btnGuardarNuevo">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

<!---Ver-->
<div class="modal fade" id="modalVerAct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Actividad detallada</h4>
				<button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>
			<div class="modal-body">
                <form action="" method="POST">
				    <div class=row>
                        <div class=col>
                            <div class="form-group">
                                <label for="nombre">Nombre de la actividad:</label>
                                <input disabled type="text" class="mr-sm-2 " placeholder="nombre" id="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripción de la actividad:</label>
                                <textarea disabled type="text" class="mr-sm-2 " placeholder="" id="descripcion" required></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input disabled class="form-check-input" type="radio" name="exampleRadios" id="rdFinish" value="terminada" checked>
                                    <label class="form-check-label" for="rdFinish">Terminada</label>
                                </div>
                                <div class="form-check">
                                    <input disabled class="form-check-input" type="radio" name="exampleRadios" id="rdPendiente" value="pendiente">
                                    <label class="form-check-label" for="rdPendiente">Pendiente</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>


<script>
    function eliminar(id) {
    let getUrl = window.location;
    let baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
    let respuesta = confirm("¿Está seguro de eliminar el registro seleccionado?");
        if (respuesta) {
            //AQUI SE ELIMINA, PERO NO SÉ COMO XD
        }

    }
</script>









<!-- JS, Popper.js, and jQuery -->
<script src=../Scripts/loadActivities.js></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>