<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class=row>
    <h3 class="col-10 display-4 text-left">Administración de usuarios</h3>
</div>
<br><br><br><br>
        
<button class="btn btn-success" onclick="location.href='<?php echo base_url();?>/register'">Agregar usuario</button>
<br><br><br>

<table class="table" id="datatable" style="margin:50px;">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>N° Acts</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id=tableUsers>
        
    </tbody>
</table>
<div>
    <button class="btn btn-light text-white bg-dark border-dark" type="button" id="btnReporte">Generar reporte</button>
</div>
<form action="/" method="get">
    <button class="btn btn-secondary" type=submit>Salir</button>    
</form> 
</body>

<script>
    function eliminar(id) {
    let getUrl = window.location;
    let baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
    let respuesta = confirm("¿Está seguro de eliminar el registro seleccionado?");
        if (respuesta) {
            //AQUI SE ELIMINA, PERO NO SÉ COMO XD
        }

    }
</script>

<script src=../Scripts/loadUsers.js></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>